    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Freelance iOS Developer</h2>
              <br/>
                <p>Based in Amsterdam I work mostly as a freelance <a href="httpss://en.wikipedia.org/wiki/IOS">iOS</a> developer on <a href="httpss://apple.com">Apple's</a> operating systems.</p>
				<p>Next to these projects I am working on several ideas and do research.</p>

                <br/>
              </div>
        </div>
    </section>
