    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Software Development</h2>
              <br/>
                <p>Based in Amsterdam I work as a freelance developer for iOS and Mac OS X.</p>
				<p>Next to these projects I am working on several ideas and do research.</p>
                <p>Furthermore, together with Jeroen Leenarts and Niels van Hoorn I organise <a href="http://www.cocoaheads.nl//">CocoaHeadsNL</a>.</p>
				<p>CocoaHeadsNL is a monthly meetup of iOS and OS X Developers in the Netherlands.</p>
                <p>.Please see my linkedin profile for contactdetails.</p>
                <br/>
              </div>
        </div>
    </section>
