<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="/sitemap.xml">Sitemap</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
                <p>		<span itemscope itemtype="http://schema.org/Organization">
            			<link itemprop="url" href="http://barthoffman.nl">
            			<a itemprop="sameAs" href="https://www.facebook.com/bart.hoffman.1" target="_blank">facebook</a>
            			<span> | </span>
            			<a itemprop="sameAs" href="https://twitter.com/barthoffman" target="_blank">twitter</a>
            			<span> | </span>
            			<a itemprop="sameAs" href="https://www.linkedin.com/in/barthoffman/" target="_blank">linkedin</a>
            		</span> </p>
            </div>
            <div class="col-md-4">
                {{ site.credits }}
            </div>
        </div>
    </div>
</footer>
